.menu {
  background-color: $color-black;
  @include at-breakpoint($desktop) {
    width: 90%;
  }
}

.main-nav {
  list-style: none;
  @include reset-box-model;
  @include at-breakpoint($desktop) {
    float: right;
  }
  li {
    @include at-breakpoint($desktop) {
      float: left;
    }
    &.active {
      a {
        background-color: darken($color-red, 10%);
      }
    }
    span {
      display: inline-block;
    }
  }
  li + li {
    border-top: 1px solid lighten($color-black, 10%);
    @include at-breakpoint($desktop) {
        border-top: none;
    }
  }
  a {
    display: block;
    padding: 18px 12px;
    color: white;
    font-weight: bold;
    &:hover {
      text-decoration: none;
      background-color: $color-red-dark;
    }
    &.active {
      background-color: darken($color-red, 10%);
    }
  }
}

/* menu bar 加上 icon 後 */
.menu ul li.menu-nav-schedule a span.icon {
    position: relative;
    padding-left: 30px;
    &:before {
      content: "";
      position: absolute;
      top: -17px;
      left: 0;
      background-size: 100%;
      @include replace-text-with-svg("menu_schedule");
    }
}
.menu ul li.menu-nav-topic a span.icon {
    position: relative;
    padding-left: 30px;
    &:before {
      content: "";
      position: absolute;
      top: -16px;
      left: 0;
      background-size: 100%;
      @include replace-text-with-svg("menu_topic");
    }
}
.menu ul li.menu-nav-report a span.icon {
    position: relative;
    padding-left: 30px;
    &:before {
      content: "";
      position: absolute;
      top: -16px;
      left: 0;
      background-size: 80%;
      @include replace-text-with-svg("menu_report");
    }
}
.menu ul li.menu-nav-legislators a span.icon {
    position: relative;
    padding-left: 30px;
    &:before {
      content: "";
      position: absolute;
      top: -16px;
      left: 0;
      background-size: 100%;
      @include replace-text-with-svg("menu_legislators");
    }
}

@include at-breakpoint($desktop) {
  .main-nav {
    /* 這是原本的 selector */
    li.active a {
      padding: 18px 12px 15px;
      border-bottom: 3px solid white;
    }
    /* 這是加了 icon 以後的 selector */
    li span.active a {
      padding: 18px 12px 15px;
      border-bottom: 3px solid white;
    }
    a {
      padding: 18px 12px 18px;
      &:hover {
        padding: 18px 12px 15px;
        border-bottom: 3px solid $color-red-dark;
      }
    }
  }
}